<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station {{station_data}} on {{date_data}}</title>
</head>
<body>
    <h1>Weather Report for station {{station_name}}</h1>
    <p>Station ID: <span style="font-size: large; font-weight: bold;">{{station}}</span></p>
    <p>Date: <span style="font-size: large; font-weight: bold;">{{date}}</span></p>
    <p>Average Temperature: <span style="font-size: large; font-weight: bold;">{{temp}} °C</span></p>
</body>
</html>